.novidades {
    display: grid;
    padding: 30px 2.5rem;
}

.novidades h1 {
    border-bottom: 1px solid rgba(51, 51, 51, .2);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 2rem;    
    padding-bottom: 30px;
    text-align: center;
}

.tituloItensNovidades {
    color: #333333;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
}

.novidades__quadros {
    margin: 2rem 10px;
}

.novidades a:hover {
    text-decoration: none;
}

@media (min-width: 1000px) {
    .novidades h1 {
        margin-left: 35rem;
        margin-right: 35rem;
    }
}