/* reset */
*,
*:after,
*:before {
    box-sizing: border-box;
	font-size: 1em;
	margin: 0;
	-moz-box-sizing: border-box;
	padding: 0;
}

body {
	font-family: Arial, helvetica, sans-serif;
	line-height: 1.4;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

@media (min-width: 600px) {
    header {
        padding-left: 0.5em;
    }
}

@media (min-width: 1000px) {
    .container {
        display: flex;
        height: auto;
        justify-content: space-around;
    }
}